<form id="update_{{ modal_app_name }}_form" action="" method="post">
    {% csrf_token %}
    <div class="modal modal-blur fade" id="modal-password-update-app" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">更新{{ page_heading }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="update-password-{{ modal_app_name }}-id">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">员工名称</label>
                                <input type="text" id="update-password-{{ modal_app_name }}-employee-name" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">密码</label>
                                <input type="text" id="update-password-{{ modal_app_name }}" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">重复密码</label>
                                <input type="text" id="update-repeat-password-{{ modal_app_name }}" name="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        退出
                    </a>
                    <button type="button" onclick="updatePasswordAppData()" id="submit-button-update"
                            class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>