{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{title}}</h3>
        </div>
        <!-- <div class="card-body border-bottom py-3">
            <div class="d-flex">
                <div class="col-6 col-sm-4 col-md-2 col-xl-1 py-3">
                    <a href="#" class="btn btn-danger w-100">批量删除</a>
                </div>
            </div>
        </div> -->
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                <tr>
                    <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox"
                                           aria-label="Select all invoices"></th>
                    <th>客户名称</th>
                    <th>成交日期</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>归属部门</th>
                    <th>负责人</th>
                    <th>订单金额</th>
                    <th>产品类型</th>
                    <th>业务类型</th>
                    <th>线索来源</th>
                    <th>线索创建日期</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input class="form-check-input m-0 align-middle" type="checkbox"
                               aria-label="Select invoice"></td>
                    <td>科医人</td>
                    <td>2025-02-11</td>
                    <td>王总</td>
                    <td>13855898756</td>
                    <td>OEM</td>
                    <td>刘婉颖</td>
                    <td>50万</td>
                    <td>皮肤敷料</td>
                    <td>OEM</td>
                    <td>百度</td>
                    <td>2022-02-05</td>
                    <td><i class="ti ti-edit"></i></td>
                    <td><i style="color:red;" class="ti ti-archive"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center">
            <p class="m-0 text-secondary">共查询到180条纪录</p>
            <ul class="pagination m-0 ms-auto">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15 6l-6 6l6 6"></path>
                        </svg>
                        上一页</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link"
                       href="#">下一页<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}