{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">标题</h3>
        </div>
        <div class="card-body border-bottom py-3">
            <div class="d-flex">
                <div class="col-6 col-sm-4 col-md-2 col-xl-1 py-3">
                    <a href="#" class="btn btn-danger w-100">
                      批量删除
                    </a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                    <tr>
                        <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox"
                                aria-label="Select all invoices"></th>
                        <th>部门名称</th>
                        <th>部门负责人</th>
                        <th>部门员工</th>
                        <th>部门编码</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="form-check-input m-0 align-middle" type="checkbox"
                                aria-label="Select invoice"></td>
                        <td>纪美禾</td>
                        <td>宋总</td>
                        <td>10人</td>
                        <td>JMH001</td>
                        <td><i class="ti ti-edit"></i></td>
                        <td><a href="https://www.baidu.com"><i style="color:red;" class="ti ti-archive"></i></a></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input m-0 align-middle" type="checkbox"
                                aria-label="Select invoice"></td>
                        <td>悦熙妍</td>
                        <td>贾总</td>
                        <td>2人</td>
                        <td>JMH001</td>
                        <td><i class="ti ti-edit"></i></td>
                        <td><a href="www.baidu.com"><i style="color:red;" class="ti ti-archive"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}