{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ leads_result.department_name.department_name }}</h3>
        </div>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">联系人</div>
                    <div class="datagrid-content">{{ leads_result.contact_person }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">联系电话</div>
                    <div class="datagrid-content">{{ leads_result.contact_phone }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">咨询信息</div>
                    <div class="datagrid-content">{{ leads_result.consultation_content }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">业务类型</div>
                    <div class="datagrid-content">{{ leads_result.business_name }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">业务来源</div>
                    <div class="datagrid-content">{{ leads_result.channel_name }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">产品类型</div>
                    <div class="datagrid-content">{{ leads_result.product_name }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">咨询工具</div>
                    <div class="datagrid-content">{{ leads_result.component_name }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">线索领取人</div>
                    <div class="datagrid-content">{{ leads_result.cow_name.cow_employee_name }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">线索创建时间</div>
                    <div class="datagrid-content">{{ leads_result.lead_creation_time|date:"Y-m-d H:i" }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">线索领取时间</div>
                    <div class="datagrid-content">{{ leads_result.lead_allocation_time|date:"Y-m-d H:i" }}</div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

<!--加载模态框-->
{% block modal %}

{% endblock %}

<!--加载自定义的js，主要是ajax相关的-->
{% block app_js %}

{% endblock %}