{% load static %}
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href=".">
                <img src="{% static 'logo.svg' %}" width="110" height="32" alt=" " class="navbar-brand-image">
            </a>
        </h1>

        <!-- 登录信息部分 -->
        <div class="navbar-nav flex-row d-lg-none">
            <div class="nav-item dropdown">
                {% if login_info %}
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                   aria-label="Open user menu">
                    <span class="avatar avatar-sm" style="background-image: url({% static 'avatars/000m.jpg' %})"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="#" class="dropdown-item">{{ login_info.employee_name }} | {{ login_info.department }}</a>
                    <a href="{% url 'login:logout' %}" class="dropdown-item">退出账号</a>
                </div>
                {% else %}
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                   aria-label="Open user menu">
                    <span class="avatar avatar-sm" style="background-image: url({% static 'avatars/001m.jpg' %})"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="#" class="dropdown-item">未登录</a>
                    <a href="{% url 'login:index' %}" class="dropdown-item">点击登录</a>
                </div>
                {% endif %}
            </div>
        </div>
        <!--导航部分-->
        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item">
                    <a class="nav-link" href="#">
            <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path
                      stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
                      d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
                      d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>
            </span>
                        <span class="nav-link-title">
              首页

            </span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle show" href="#navbar-base" data-bs-toggle="dropdown"
                       data-bs-auto-close="false" role="button" aria-expanded="true">
            <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path
                      stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                      d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"></path><path d="M12 12l8 -4.5"></path><path
                      d="M12 12l0 9"></path><path d="M12 12l-8 -4.5"></path><path d="M16 5.25l-8 4.5"></path></svg>
            </span>
                        <span class="nav-link-title">
              CRM
            </span>
                    </a>
                    <div class="dropdown-menu show" data-bs-popper="static">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="{% url 'leads:index' %}">
                                    线索池
                                </a>
                                <a class="dropdown-item" href="{% url 'leads:claim' %}">
                                    我的线索
                                </a>
                                <a class="dropdown-item" href="{% url 'leads:index' %}">
                                    商机
                                </a>
                                <a class="dropdown-item" href="{% url 'leads:index' %}">
                                    公海池
                                </a>
                                <a class="dropdown-item" href="{% url 'customer:customer_list' %}">
                                    客户
                                </a>
                                <a class="dropdown-item" href="{% url 'orders:orders_list' %}">
                                    订单
                                </a>

                                {% if login_info.privileges == 'super_admin' %}
                                <div class="dropend">
                                    <a class="dropdown-item dropdown-toggle" href="#sidebar-authentication"
                                       data-bs-toggle="dropdown" data-bs-auto-close="false" role="button"
                                       aria-expanded="false">
                                        设置
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'cow:index' %}" class="dropdown-item">员工</a>
                                        <a href="{% url 'department:index' %}" class="dropdown-item">部门</a>
                                        <a href="{% url 'privileges:index' %}" class="dropdown-item">权限</a>
                                        <a href="{% url 'product:index' %}" class="dropdown-item">产品</a>
                                        <a href="{% url 'business:index' %}" class="dropdown-item">业务</a>
                                        <a href="{% url 'channel:index' %}" class="dropdown-item">来源</a>
                                        <a href="{% url 'component:index' %}" class="dropdown-item">咨询组件</a>
                                        <a href="{% url 'proceeding:index' %}" class="dropdown-item">跟进状态</a>
                                    </div>
                                </div>
                                {% endif %}

                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>
